#bga-help_buttons {
  position: fixed;
  bottom: 12px;
  left: 5px;
  display: flex;
  gap: 10px;
  z-index: 949;
  align-items: flex-end;
}

.bga-help_button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
}

.bga-help_popin-button {
  --background: black;
  --color: white;
  font-weight: bold;
  font-size: 28pt;
  background: var(--background);
  color: var(--color);
}

.bga-help_expandable-button {
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.bga-help_expandable-button .bga-help_folded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.bga-help_expandable-button .bga-help_unfolded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] {
  width: var(--expanded-width);
  height: var(--expanded-height);
  border-radius: var(--expanded-radius);
}

.bga-help_expandable-button[data-folded=false] .bga-help_folded-content {
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] .bga-help_unfolded-content {
  opacity: 1;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #bga-help_buttons {
    bottom: 5px;
  }
}
#popin_bgaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_bgaHelpDialog {
  --background-color: white;
  background: var(--background-color);
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-dialog-content {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}

#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

:root {
  --bga-jump-to_eye-url: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E eye %3C/title%3E%3Cpath d='M10 7.5a2.5 2.5 0 1 0 2.5 2.5A2.5 2.5 0 0 0 10 7.5zm0 7a4.5 4.5 0 1 1 4.5-4.5 4.5 4.5 0 0 1-4.5 4.5zM10 3C3 3 0 10 0 10s3 7 10 7 10-7 10-7-3-7-10-7z'/%3E%3C/svg%3E%0A");
}

#bga-jump-to_controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
  user-select: none;
}

#bga-jump-to_controls.folded .bga-jump-to_link:not(.toggle) {
  display: none;
}

#bga-jump-to_controls .bga-jump-to_link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  margin: 10px 0;
  width: fit-content;
  cursor: pointer;
  height: 22px;
  padding: 2px 5px;
  background: white;
  color: var(--color);
  display: flex;
  align-items: center;
  gap: 5px;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_avatar {
  width: 20px;
  height: 20px;
  background-color: #fff;
  outline: 1px solid #6a6a6a;
  border-radius: 50%;
  background-image: var(--avatar-url);
  display: inline-block;
  background-size: cover;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_label {
  background: var(--colorback);
}

#bga-jump-to_controls .bga-jump-to_link.round-point {
  border-radius: 0 11px 11px 0;
  padding-right: 11px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 11px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -11px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 9px solid white;
  content: "";
  position: absolute;
  right: -9px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -15px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid white;
  content: "";
  position: absolute;
  right: -13px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link .eye {
  width: 20px;
  height: 20px;
  mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  -webkit-mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color);
  display: inline-block;
  vertical-align: middle;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover, .card-stock.all-visible-deck.vertical:active, .card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card, .card-stock.all-visible-deck.vertical:active > .card, .card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover, .card-stock.all-visible-deck.horizontal:active, .card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card, .card-stock.all-visible-deck.horizontal:active > .card, .card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.card {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  font-family: "apotek-comp", sans-serif;
}
.card .card-sides .card-side {
  border-radius: 8px;
}
.card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.card .front {
  color: white;
  font-size: 14px;
}
.card .front > * {
  position: absolute;
}
.card .front .name-box {
  padding-bottom: 4px;
  text-align: left;
  height: 24px;
}
.card .front .name-box .name {
  white-space: nowrap;
  text-overflow: clip;
  height: 24px;
  padding: 2px;
}
.card .front .effect {
  color: #404040;
  text-align: center;
  font-size: 13px;
  font-family: "quador-display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .front .effect .icon {
  width: 16px;
  height: 16px;
}

.builder-card {
  width: 163px;
  height: 228px;
}
.builder-card[data-rotated="1"] .card-sides {
  transform-origin: bottom right;
  transform: translateY(-163px) rotate(-90deg);
}
.builder-card.bga-cards_selectable-card:not(.bga-cards_disabled-card):not(.bga-cards_selected-card) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.builder-card.bga-cards_selectable-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.builder-card.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px orange;
}
.builder-card.bga-cards_selected-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.builder-card .back {
  background-image: url("img/card-back.jpg");
}
.builder-card .front {
  background-size: 600% auto;
}
.builder-card .front[data-type=A] {
  background-image: url("img/cards-A.jpg");
}
.builder-card .front[data-type=C] {
  background-image: url("img/cards-C.jpg");
}
.builder-card .front[data-type=M] {
  background-image: url("img/cards-M.jpg");
}
.builder-card .front[data-type=P] {
  background-image: url("img/cards-P.jpg");
}
.builder-card .front .name-box {
  padding-bottom: 4px;
  text-align: left;
  height: 24px;
}
.builder-card .front .name-box .name {
  white-space: nowrap;
  text-overflow: clip;
  height: 24px;
  padding: 2px;
}
.builder-card .front .name-box {
  top: 220px;
  left: 7px;
  min-width: 84px;
  max-width: 140px;
  transform-origin: top left;
  transform: rotate(-90deg);
}
.builder-card .front .name-box .name {
  line-height: 10px;
}
.builder-card .front .name-box .country {
  font-family: "quador-display", serif;
  font-style: italic;
  font-size: 9px;
  margin-top: 1px;
}
.builder-card .front .effect {
  left: 35px;
  right: 5px;
  bottom: 5px;
  height: 56px;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px var(--selectable-card-color);
  }
  100% {
    box-shadow: 0 0 5px 3px var(--selectable-card-color);
  }
}
.dijitTooltipContents .builder-card {
  transform: scale(1.5);
  transform-origin: top left;
  margin-bottom: 114px;
  margin-right: 82px;
}

.builder-card.card .card-sides .card-side {
  overflow: unset;
}

.token-counter {
  font-size: 24px;
  position: absolute;
  top: -12px;
  background: white;
  color: #404040;
  left: 48px;
  right: 48px;
  border-radius: 18px;
  transition: left 0.5s, right 0.5s;
}
.token-counter .token-counter-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 36px;
}
.token-counter .token-counter-actions {
  align-items: center;
  justify-content: center;
  gap: 4px;
  display: none;
}
.token-counter .token-counter-actions .action {
  text-align: center;
  pointer-events: all;
  cursor: pointer;
  margin: 5px;
  white-space: unset;
}
.token-counter .token-counter-actions .action.disabled {
  cursor: not-allowed;
}
.token-counter .token-counter-actions .action.disabled.reset-btn {
  display: none;
}
.token-counter .knowledge-token {
  width: 18px;
  height: 27px;
}
.token-counter .future {
  display: none;
}
.token-counter.with-diff .future {
  display: unset;
}

.knowledge-selectable .token-counter {
  left: 24px;
  right: 24px;
}
.knowledge-selectable .token-counter-actions {
  display: flex;
}
.knowledge-selectable[data-knowledge-selection-mode=remove] .token-action-info.add {
  display: none;
}
.knowledge-selectable[data-knowledge-selection-mode=add] .token-action-info.remove {
  display: none;
}

.technology-tile {
  display: inline-block;
  position: relative;
  width: 163px;
  height: 114px;
  border-radius: 8px;
}
.technology-tile .back {
  background-size: auto 100%;
  background-image: url("img/technology-tile-backs.png");
}
.technology-tile[data-level="1"] .back {
  background-position-x: 0%;
}
.technology-tile[data-level="1"] .front {
  background-image: url("img/technology-tiles-1.jpg");
}
.technology-tile[data-level="2"] .back {
  background-position-x: 100%;
}
.technology-tile[data-level="2"] .front {
  background-image: url("img/technology-tiles-2.jpg");
}
.technology-tile .front {
  background-size: auto 300%;
}
.technology-tile .front .name-box {
  top: 5px;
  left: 36px;
  min-width: 55px;
  max-width: 96px;
  height: 14px;
}
.technology-tile .front .name-box .name {
  height: 16px;
  font-size: 16px;
  line-height: 15px;
}
.technology-tile .front .requirement {
  left: 85px;
  right: 8px;
  bottom: 51px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404040;
  text-align: center;
  font-size: 13px;
  font-family: "quador-display", serif;
}
.technology-tile .front .requirement .icon {
  width: 16px;
  height: 16px;
}
.technology-tile .front .effect {
  left: 87px;
  right: 5px;
  bottom: 5px;
  top: 62px;
}
.technology-tile .front[data-requirement=false] .center-box {
  top: 28px;
}
.technology-tile .front[data-requirement=false] .effect {
  top: 28px;
}
.technology-tile[data-level="2"] .front .effect {
  top: unset;
  right: unset;
  left: 92px;
  bottom: 8px;
}
.technology-tile.bga-cards_selectable-card:not(.bga-cards_disabled-card):not(.bga-cards_selected-card) {
  animation: selectable-tile-animation 1s alternate infinite ease-in-out;
}
.technology-tile.bga-cards_selectable-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.technology-tile.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px orange;
}
.technology-tile.bga-cards_selected-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}

@keyframes selectable-tile-animation {
  0% {
    box-shadow: 0 0 3px 2px var(--selectable-card-color);
  }
  100% {
    box-shadow: 0 0 5px 3px var(--selectable-card-color);
  }
}
.dijitTooltipContents .technology-tile {
  transform: scale(1.5);
  transform-origin: top left;
  margin-bottom: 57px;
  margin-right: 82px;
}

#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center-and-market {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#table-center {
  width: 903px;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  transition: height 0.5s;
}
#table-center #table-technology {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;
}
#table-center #table-technology #technology-decks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
#table-center #table-technology #table-technology-tiles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}
#table-center #table-technology #table-technology-tiles .table-technology-tiles {
  width: 730px;
  height: 139px;
  padding: 13px 73px;
  box-sizing: border-box;
  gap: 27px;
}
#table-center #table-technology #table-technology-tiles .table-technology-tiles[data-level="1"] {
  background-image: url("img/obelisk1.png");
}
#table-center #table-technology #table-technology-tiles .table-technology-tiles[data-level="2"] {
  background-image: url("img/obelisk2.png");
}
#table-center #table-technology #table-technology-tiles .table-technology-tiles.selectable {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
  cursor: pointer;
}
#table-center .fold-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 2px 2px gray;
  animation: left 0.5s;
  display: flex;
  align-items: center;
  transition: width 0.5px;
}
#table-center .fold-button .fold-message {
  display: none;
  flex: 1;
}
#table-center .fold-button .fold-button-arrow {
  width: 48px;
  height: 48px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#table-center.folded {
  height: 48px;
}
#table-center.folded .fold-button {
  width: 903px;
}
#table-center.folded .fold-button .fold-message {
  display: unset;
}
#table-center.folded .fold-button-arrow {
  transform: rotate(180deg);
}
#table-center.folded #table-technology {
  display: none;
}

.double-column #table-center .fold-button {
  display: none;
}

#market .created-card {
  box-shadow: unset;
  outline: 4px solid green;
}
#market .pick-deck-tech-number {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
  font-size: 66pt;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  user-select: none;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode {
  color: black;
}
.player-board.spectator-mode * {
  background: white !important;
}
.player-board [class^=icon-] {
  font-size: 120%;
  margin-right: 5px;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters > div {
  flex: 1;
}
.player-board .counters.first-line {
  height: 48px;
}
.player-board .counters.icons > div {
  display: flex;
  align-items: center;
}
.player-board .counters .timeline-counter {
  margin-left: 2px;
  font-size: 75%;
}

#first-player {
  background: url("img/first-player.png");
  width: 48px;
  height: 48px;
}

.card-stock.all-visible-deck.past-deck.mixed:hover, .card-stock.all-visible-deck.past-deck.mixed:active, .card-stock.all-visible-deck.past-deck.mixed.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}
.card-stock.all-visible-deck.past-deck.mixed:hover > .card, .card-stock.all-visible-deck.past-deck.mixed:active > .card, .card-stock.all-visible-deck.past-deck.mixed.opened > .card {
  top: calc((var(--width) + var(--vertical-shift)) * var(--rotated-order) * -1);
  left: calc((var(--width) + var(--horizontal-shift)) * var(--unrotated-order));
}

/*
.card-stock {
    &.all-visible-deck {
        position: absolute;
        --tile-count: 1;
        width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
        height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        opacity: var(--tile-count);

        & > .card {
            position: absolute;
            margin: 0;
            transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
            top: calc(var(--vertical-shift) * var(--order));
            left: calc(var(--horizontal-shift) * var(--order));
        }

        &.vertical {
            &:hover, &:active, &.opened {
                height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
                z-index: 1;

                & > .card {
                    top: calc((var(--height) + var(--vertical-shift)) * var(--order));
                }
            }
        }

        &.horizontal {
            &:hover, &:active, &.opened {
                width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
                z-index: 1;

                & > .card {
                    left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
                }
            }
        }

        .bga-cards_deck-counter {
            transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
        }

        &[data-empty="true"] {
            &>.card { 
                visibility: hidden;
            }

            .bga-cards_deck-counter.hide-when-empty {
                display: none;
            }
        }
    }
}
*/
.player-table {
  min-width: 640px;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--player-color);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-table .builder-card.created-card {
  opacity: 0.75;
}
.player-table .builder-card.created-card, .player-table .builder-card.swapped-card {
  box-shadow: unset;
  outline: 4px solid green;
}
.player-table .builder-card.discarded-card {
  box-shadow: unset;
  outline: 4px solid red;
}
.player-table .name-wrapper {
  color: var(--player-color);
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-family: "apotek-comp", sans-serif;
}
.player-table .player-board {
  position: relative;
  width: 1200px;
  height: 453px;
  padding: 0;
  margin: 0;
  margin-left: 180px;
  margin-right: 180px;
}
.player-table .player-board[data-color="6f3766"] {
  background: url("img/player-board-6f3766.jpg");
}
.player-table .player-board[data-color=bc6328] {
  background: url("img/player-board-bc6328.jpg");
}
.player-table .player-board[data-color="597f9e"] {
  background: url("img/player-board-597f9e.jpg");
}
.player-table .player-board[data-color="929f40"] {
  background: url("img/player-board-929f40.jpg");
}
.player-table .player-board .past {
  position: absolute;
  top: 94px;
  left: -176px;
}
.player-table .player-board .show-past-button {
  position: absolute;
  top: 341px;
  left: -176px;
  width: 176px;
  display: none;
}
.player-table .player-board .show-past-button.has-cards {
  display: unset;
}
.player-table .player-board .artifacts {
  position: absolute;
  top: 198px;
  left: 176px;
}
.player-table .player-board .artifacts .slot {
  width: 163px;
  height: 228px;
  border-radius: 8px;
}
.player-table .player-board .technology-tiles-decks {
  position: absolute;
  left: 1200px;
}
.player-table .player-board .technology-tiles-decks .technology-tiles-deck[data-type=ancient] {
  top: 56px;
}
.player-table .player-board .technology-tiles-decks .technology-tiles-deck[data-type=writing] {
  top: 186px;
}
.player-table .player-board .technology-tiles-decks .technology-tiles-deck[data-type=secret] {
  top: 312px;
}
.player-table .player-board .lost-knowledge-space {
  position: absolute;
  left: 8px;
  top: 236px;
  width: 128px;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
.player-table .player-board .lost-knowledge-counter {
  position: absolute;
  left: 62px;
  top: 427px;
}
.player-table .player-board .lost-knowledge-counter[data-empty=true] {
  display: none;
}
.player-table .block-with-text {
  display: flex;
}
.player-table .block-with-text .block-label {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
  text-overflow: ellipsis;
}
.player-table .block-with-text > div:not(.block-label) {
  flex: 1;
  min-height: 221px;
}
.player-table .hand-wrapper {
  margin: 5px;
  background: rgba(255, 255, 255, 0.5333333333);
  border-radius: 10px;
  align-self: stretch;
  margin-bottom: 10px;
}
.player-table .hand-wrapper .hand[data-state=initial-selection] .builder-card.bga-cards_selectable-card:not(.bga-cards_disabled-card):not(.bga-cards_selected-card) {
  animation: unset;
  box-shadow: 0 0 3px 3px red;
}
.player-table .hand-wrapper .hand[data-state=initial-selection] .builder-card.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px green;
}
.player-table .hand-wrapper .hand[data-state=create-init] .builder-card.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px green;
}
.player-table .hand-wrapper .hand[data-state=create-discard] .builder-card.bga-cards_selected-card:not(.bga-cards_disabled-card), .player-table .hand-wrapper .hand[data-state=archive-discard] .builder-card.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px red;
}
.player-table .timeline {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding-left: 81px;
}
.player-table .timeline .slot {
  position: relative;
  width: 163px;
  height: 228px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  outline: rgba(255, 255, 255, 0.6) 1px solid;
}
.player-table .timeline .slot.selectable {
  cursor: pointer;
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.player-table .timeline .slot.selected {
  outline: 4px solid green;
}
.player-table .timeline .slot.discard-cost::before {
  content: "\e90a";
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "ak";
  color: white;
  text-shadow: 0 1px gray, 0 0 2px gray;
  font-size: 48px;
}
.player-table .timeline .slot.discard-cost::after {
  content: attr(data-discard-cost);
  position: absolute;
  bottom: -7px;
  right: 40px;
  color: white;
  text-shadow: 0 1px gray, 0 0 2px gray;
  font-size: 48px;
}

#past-cards-popin {
  width: 800px;
  max-width: 95vw;
}
#past-cards-popin #past-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}
#past-cards-popin #past-cards .rotated-card-notice {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #60605f;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5333333333);
  border-radius: 50%;
}

#help-popin h2 {
  margin: 15px 0 0 0;
}
#help-popin .help-icon-line {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: rgba(238, 238, 238, 0.4);
  padding: 10px 5px;
}
#help-popin .help-icon-line [class^=icon-] {
  font-size: 250%;
  margin-right: 5px;
}

.help-actions {
  background-image: url("img/help-actions.png");
  background-size: cover;
}

.help-turn {
  background-image: url("img/help-turn.png");
  background-size: cover;
}

#help-action-popin {
  position: relative;
  text-align: left;
}
#help-action-popin h1 {
  position: absolute;
  color: white;
  top: 18px;
  left: 25px;
  width: auto;
  text-transform: uppercase;
  font-family: "apotek-comp", sans-serif;
}
#help-action-popin .action {
  position: absolute;
  left: 14px;
  right: 8px;
  font-family: "quador-display", serif;
}
#help-action-popin .action[data-index="0"] {
  top: 64px;
}
#help-action-popin .action[data-index="1"] {
  top: 133px;
}
#help-action-popin .action[data-index="2"] {
  top: 202px;
}
#help-action-popin .action[data-index="3"] {
  top: 304px;
}
#help-action-popin .action[data-index="4"] {
  top: 385px;
}
#help-action-popin .action .name {
  position: absolute;
  left: 63px;
  top: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
#help-action-popin .action .description {
  position: absolute;
  left: 58px;
  top: 34px;
}
#help-action-popin .action .description .icon {
  width: 20px;
  height: 20px;
}

#help-turn-popin {
  position: relative;
  text-align: left;
}
#help-turn-popin h1 {
  position: absolute;
  color: white;
  left: 35px;
  width: auto;
  text-transform: uppercase;
  font-family: "apotek-comp", sans-serif;
}
#help-turn-popin h1.overview {
  top: 18px;
}
#help-turn-popin h1.end {
  top: 404px;
}
#help-turn-popin .phase {
  position: absolute;
  left: 14px;
  right: 14px;
  font-family: "quador-display", serif;
}
#help-turn-popin .phase.a {
  top: 64px;
}
#help-turn-popin .phase.b {
  top: 160px;
}
#help-turn-popin .phase.c {
  top: 278px;
}
#help-turn-popin .phase h1 {
  top: 3px;
  left: 22px;
}
#help-turn-popin .phase .description {
  position: absolute;
  top: 42px;
  left: 10px;
  right: 10px;
  font-weight: bold;
  text-align: center;
}
#help-turn-popin .phase .description .icon {
  width: 20px;
  height: 20px;
}
#help-turn-popin .phase .description .icon.timeline {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  background-image: url("img/timeline-icon.svg");
}

#score {
  display: none;
  justify-content: center;
}
#score #table-wrapper {
  background: url("img/scorepad.jpg");
  width: 1039px;
  height: 744px;
  position: relative;
}
#score #table-wrapper table {
  position: absolute;
  left: 144px;
}
#score #table-wrapper table tr {
  height: 99px;
}
#score #table-wrapper table tr#scoretr, #score #table-wrapper table tr.score-total {
  height: 122px;
}
#score #table-wrapper table tr.score-total td {
  font-weight: bold;
}
#score #table-wrapper table tr th, #score #table-wrapper table tr td {
  width: 215px;
  text-align: center;
  font-size: 120%;
}
#score #table-wrapper table tr th {
  text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
  font-weight: bold;
  word-break: break-all;
}

:root {
  --selectable-card-color: lightgreen;
}

.gamestate_resolveChoice {
  --selectable-card-color: gold;
}

@font-face {
  font-family: "ak";
  src: url("img/ak.ttf?vn5p27") format("truetype"), url("img/ak.woff?vn5p27") format("woff"), url("img/ak.svg?vn5p27#ak") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ak" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
[class^=icon-].white, [class*=" icon-"].white {
  color: white;
}

.icon-action-archive:before {
  content: "\e900";
}

.icon-action-create:before {
  content: "\e901";
}

.icon-action-excavate:before {
  content: "\e902";
}

.icon-action-learn:before {
  content: "\e903";
}

.icon-action-search:before {
  content: "\e904";
}

.icon-anytime:before {
  content: "\e905";
}

.icon-artifact:before {
  content: "\e906";
  color: #734073;
}

.icon-cards:before {
  content: "\e908";
}

.icon-decline:before {
  content: "\e909";
}

.icon-discard:before {
  content: "\e90a";
}

.icon-immediate:before {
  content: "\e90b";
}

.icon-knowledge:before {
  content: "\e90c";
}

.icon-lock:before {
  content: "\e90e";
}

.icon-lost-knowledge:before {
  content: "\e90f";
}

.icon-monument-city:before {
  content: "\e911";
  color: #d66b2a;
}

.icon-monument-megalith:before {
  content: "\e913";
  color: #4a82a3;
}

.icon-monument-pyramid:before {
  content: "\e915";
  color: #87a04f;
}

.icon-starting-space-icon:before {
  content: "\e917";
}

.icon-technology-ancient:before {
  content: "\e919";
  color: #3c857f;
}

.icon-technology-secret:before {
  content: "\e91b";
  color: #b8a222;
}

.icon-technology-writing:before {
  content: "\e91d";
  color: #633c37;
}

.icon-timeline:before {
  content: "\e91f";
}

.icon-vp:before {
  content: "\e920";
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html[data-bg="6f3766"], .mode_3d #game_play_area_background[data-bg="6f3766"] {
  background: url("img/bg/6f3766.jpg");
  background-size: 100% auto;
}
html[data-bg=bc6328], .mode_3d #game_play_area_background[data-bg=bc6328] {
  background: url("img/bg/bc6328.jpg");
  background-size: 100% auto;
}
html[data-bg="597f9e"], .mode_3d #game_play_area_background[data-bg="597f9e"] {
  background: url("img/bg/597f9e.jpg");
  background-size: 100% auto;
}
html[data-bg="929f40"], .mode_3d #game_play_area_background[data-bg="929f40"] {
  background: url("img/bg/929f40.jpg");
  background-size: 100% auto;
}

#bga-zoom-wrapper {
  padding-top: 32px;
}

#page-title .player-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
#page-title [class^=icon-] {
  font-size: 120%;
}
#page-title .bgabutton [class^=icon-] {
  font-size: 150%;
  margin-right: 5px;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.icon.starting-space {
  background-image: url("img/starting-space-icon.svg");
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.icon.tech-level {
  background-image: url("img/level-icon.png");
  background-size: auto 100%;
  max-width: 20px;
  max-height: 20px;
}
.icon.tech-level[data-level="1"] {
  background-position-x: 0%;
}
.icon.tech-level[data-level="2"] {
  background-position-x: 100%;
}

.action-button .icon, .action-button .color, .log .icon, .log .color {
  width: 24px;
  height: 24px;
}

.dijitTooltipContents .icon, .dijitTooltipContents .color {
  width: 20px;
  height: 20px;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  margin-right: 10px;
}
#tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
#tables-and-center.double-column {
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
#tables-and-center.double-column > div {
  flex: 1;
}

.artifact-tooltip > div {
  padding: 5px;
}
.artifact-tooltip > div:not(:last-child) {
  border-bottom: 1px solid gray;
}

#draw-and-keep-pick {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 5px;
}
#draw-and-keep-pick[data-visible=false] {
  display: none;
}

.knowledge-token {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 38px;
  flex-shrink: 0;
  vertical-align: middle;
}
.knowledge-token::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: auto 100%;
  background-image: url("img/knowledge-tokens.png");
  background-position-x: 0%;
}
.knowledge-token.golden::after {
  background-position-x: 100%;
}
.knowledge-token.selectable {
  cursor: pointer;
  pointer-events: all;
}
.knowledge-token.selectable:not(.selected) {
  box-shadow: 0 0 5px 5px white;
}
.knowledge-token.selected {
  box-shadow: 0 0 5px 5px red;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
  display: inline-block;
}
#last-round .last-round-text.animate {
  animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
#logs .log.notif_newUndoableStep {
  margin-top: 0;
}
#logs .log.notif_newUndoableStep .roundedbox {
  background-color: #c4c2c2;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
  text-align: center;
}
#logs .log.notif_newUndoableStep.selectable .roundedbox {
  display: block;
}

#logs .log.notif_newUndoableStep .roundedbox:after, #logs .log.notif_newUndoableStep .roundedbox:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable {
  display: block !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner {
  background-color: #c4c2c2;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
  text-align: center;
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:after, .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
  display: none;
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}
