$builderCardTypes: 'A', 'C', 'M', 'P';

.builder-card {
    width: 163px;
    height: 228px;    

    &[data-rotated="1"] .card-sides {
        transform-origin: bottom right;
        transform: translateY(-163px) rotate(-90deg);
    }

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }

    .back {
        background-image: url('img/card-back.jpg');
    }

    .front {
      background-size: 600% auto;

      @each $type in $builderCardTypes {
        &[data-type="#{$type}"] {
          background-image: url('img/cards-#{$type}.jpg');
        }
      }

      .name-box {  
        $nameHeight: 24px;
        $nameBoxHeight: 27px;

        padding-bottom: 4px;

        text-align: left;
        height: $nameHeight;

        .name {
          white-space: nowrap;
          text-overflow: clip;
          height: $nameHeight;
          padding: 2px;
        }
      }

      .name-box {  
        top: 220px;
        left: 7px;
        min-width: 84px;
        max-width: 140px;
        transform-origin: top left;
        transform: rotate(-90deg);

        .name {
            line-height: 10px;
        }
  
        .country {
            font-family: "quador-display", serif;
            font-style: italic;
            font-size: 9px;
            margin-top: 1px;
        }
      }

      .effect {
        left: 35px;
        right: 5px;
        bottom: 5px;
        height: 56px;
        //min-height: 56px;
      }
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px var(--selectable-card-color);
    }
    100% { 
      box-shadow: 0 0 5px 3px var(--selectable-card-color);
    }
}

.dijitTooltipContents {
    .builder-card {
        transform: scale(1.5);
        transform-origin: top left;
        margin-bottom: 114px;
        margin-right: 82px;
    }
}

.builder-card.card .card-sides .card-side {
    overflow: unset;
}

.token-counter {
    font-size: 24px;
    position: absolute;
    top: -12px;
    background: white;
    color: #404040;
    left: 48px;
    right: 48px;
    border-radius: 18px;
    transition: left 0.5s, right 0.5s;

    .token-counter-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        height: 36px;
    }

    .token-counter-actions {
        //display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        display: none;

        .action {
            text-align: center;
            pointer-events: all;
            cursor: pointer;
            margin: 5px;
            white-space: unset;

            &.disabled {
                cursor: not-allowed;

                &.reset-btn {
                    display: none;
                }
            }
        }
    }

    .knowledge-token {
        width: 18px;
        height: 27px;
    }

    .future {
        display: none;
    }

    &.with-diff {
        .future {
            display: unset;
        }
    }
}

.knowledge-selectable {
    .token-counter {
        left: 24px;
        right: 24px;
    }

    .token-counter-actions {
        display: flex;
    }

    &[data-knowledge-selection-mode="remove"] {
        .token-action-info.add {
            display: none;
        }
    }
    &[data-knowledge-selection-mode="add"] {
        .token-action-info.remove {
            display: none;
        }
    }
}