.card {
    display: inline-block;
    position: relative;
    border-radius: 8px;
    font-family: "apotek-comp", sans-serif;

    .card-sides {
        .card-side {
            border-radius: 8px;

            &>* {
                pointer-events: none;
                user-select: none;
            }
        }
    }

    .front {
      color: white;
      font-size: 14px;

      &>* {
        position: absolute;
      }

      .name-box {  
        $nameHeight: 24px;
        $nameBoxHeight: 27px;

        padding-bottom: 4px;

        text-align: left;
        height: $nameHeight;

        .name {
          white-space: nowrap;
          text-overflow: clip;
          height: $nameHeight;
          padding: 2px;
        }
      }

      .effect {
        color: #404040;
        text-align: center;
        font-size: 13px;
        font-family: "quador-display", serif;

        display: flex;
        justify-content: center;
        align-items: center;
        
        .icon {
            width: 16px;
            height: 16px;
        }
      }
    }
}
