.player-table {
  min-width: 640px;
  width: 100%;
  position: relative;
  background: #FFFFFF33;
  //box-shadow: 0 0 5px 2px var(--player-color);
  //border: 3px solid rgb(235 213 189);
  border: 2px solid var(--player-color);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .builder-card {
    &.created-card {
      box-shadow: unset;
      outline: 4px solid green;
    }
    &.discarded-card {
      box-shadow: unset;
      outline: 4px solid red;
    }
  }

  .name-wrapper {
    color: var(--player-color);
    position: relative;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-family: "apotek-comp", sans-serif;
  }

  .player-board {
    position: relative;
    width: 1200px;
    height: 453px;
    padding: 0;
    margin: 0;
    margin-left: 180px;
    margin-right: 180px;

    @each $playerColor in $playerColors {
      &[data-color="#{$playerColor}"] { 
        background: url('img/player-board-#{$playerColor}.jpg');
      }
    } 

    .past {
      position: absolute;
      top: 198px;
      left: -176px;
    }

    .artifacts {
      position: absolute;
      top: 198px;
      left: 176px;
    
      .slot {
        width: 163px;
        height: 228px;  
        border-radius: 8px;
      }
    }

    .technology-tiles-decks {
      position: absolute;
      left: 1200px;

      .technology-tiles-deck {
        &[data-type="ancient"] { top: 56px; }
        &[data-type="writing"] { top: 186px; }
        &[data-type="secret"] { top: 312px; }
      }
    }
  }
  
  .block-with-text {
    display: flex;

    .block-label {
      text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
      text-align: center;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      //color: white;
      padding: 5px;
      text-overflow: ellipsis;
    }

    &>div:not(.block-label) {
      flex: 1;
      min-height: 221px;
    }
  }

  .hand-wrapper {
    margin: 5px;
    background: #FFFFFF88;
    border-radius: 10px;
    align-self: stretch;
    margin-bottom: 10px;

    .hand {

      &[data-state="initial-selection"] {
        .builder-card {
          &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
              &:not(.bga-cards_selected-card) {
                  animation: unset;
                  box-shadow: 0 0 3px 3px red;
              }
          }  
          &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
              box-shadow: 0 0 5px 5px green;
          }
        }
      }

      &[data-state="create-init"] {
        .builder-card {
          &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
            box-shadow: 0 0 5px 5px green;
          }
        }
      }

      &[data-state="create-discard"], &[data-state="archive-discard"] {
        .builder-card {
          &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
            box-shadow: 0 0 5px 5px red;
          }
        }
      }
    }
  }

  .timeline {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding-left: 81px;
    
    .slot {
      position: relative;
      width: 163px;
      height: 228px;  
      border-radius: 8px;
      background: #FFFFFF66;
      outline: #FFFFFF99 1px solid;

      &.selectable {
        cursor: pointer;
        animation: selectable-card-animation 1s alternate infinite ease-in-out;
      }

      &.selected {
        outline: 4px solid green;
      }

      &.discard-cost {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          background-image: url('img/discard-icon.svg');
          width: 36px;
          height: 48px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }

        &::after {
          //content: var(--discard-cost);
          content: attr(data-discard-cost);
          position: absolute;
          bottom: -7px;
          right: 40px;
          color: white;
          font-size: 48px;
        }
      }
    }
  }
}
