.player-board {
  background-color: white;

  &.spectator-mode {
    color: black;
    * {
      background: white !important;
    }
  }
    
  [class^="icon-"] {
    font-size: 120%;
    margin-right: 5px;
  }

  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;

    >div {
      flex: 1;
    }

    &.first-line {
      height: 48px;
    }    

    &.icons {

      >div {
        display: flex;
        align-items: center;
      }
    }

    .timeline-counter {
      margin-left: 2px;
      font-size: 75%;
    }
  }
}

#first-player {
  background: url('img/first-player.png');
  width: 48px;
  height: 48px;
}