#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center {
  #table-technology-tiles {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .table-technology-tiles {
      width: 730px;
      height: 139px;
      padding: 13px 73px;
      box-sizing: border-box;
      gap: 27px;

      &[data-level="1"] {
        background-image: url('img/obelisk1.png');
      }
      &[data-level="2"] {
        background-image: url('img/obelisk2.png');
      }
    }
  }
}