#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center {
  width: 903px;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  transition: height 0.5s;

  #table-technology {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;

    #technology-decks {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;
    }

    #table-technology-tiles {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-around;

      .table-technology-tiles {
        width: 730px;
        height: 139px;
        padding: 13px 73px;
        box-sizing: border-box;
        gap: 27px;

        &[data-level="1"] {
          background-image: url('img/obelisk1.png');
        }
        &[data-level="2"] {
          background-image: url('img/obelisk2.png');
        }

        &.selectable {
          animation: selectable-card-animation 1s alternate infinite ease-in-out;
          cursor: pointer;
        }
      }
    }
  }

  .fold-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px gray;
    animation: left 0.5s;
    display: flex;
    align-items: center;
    transition: width 0.5px;

    .fold-message {
      display: none;
      flex: 1;
    }

    .fold-button-arrow {
      width: 48px;
      height: 48px;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.folded {
    height: 48px;

    .fold-button {
      width: 903px;

      .fold-message {
        display: unset;
      }
    }
    
    .fold-button-arrow {
      transform: rotate(180deg);
    }

    #table-technology {
      display: none;
    }
  }
}

.double-column #table-center .fold-button {
  display: none;
}