.technology-tile {
    display: inline-block;
    position: relative;
    width: 221px;
    height: 120px;
    border-radius: 8px;

    .card-sides {
        .card-side {
            border-radius: 8px;
            background-size: auto 100%;
            background-image: url('img/technology-tiles.png');

            &>* {
                pointer-events: none;
                user-select: none;
            }
        }
    }    

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }

    @for $color from 1 through 5 {
        @for $gain from 1 through 4 {
            .front[data-color="#{$color}"][data-gain="#{$gain}"] {
                background-position-x: #{(($color - 1) * 4 + $gain) * 100% / 20};
            }
        }
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px rgb(255, 212, 131);
    }
    100% { 
      box-shadow: 0 0 5px 3px rgb(255, 212, 131);
    }
}
