.technology-tile {
    display: inline-block;
    position: relative;
    width: 163px;
    height: 114px;
    border-radius: 8px;

    .front {
        .background {
          top: 24px;
          left: 8px;
          width: 75px;
          height: 82px;
          background-size: 900% auto;
          background-image: url('img/tiles-background.jpg');          
        }
  
        .type-box {        
          border-radius: 7px 0 7px 0;
  
          .type {
            border-radius: 5px 0 5px 0;
            width: 25px;
            height: 25px;

              &[data-type="ancient"] {
                  .type-icon {
                      background-image: url('img/technology-icon-ancient-white.svg');
                  }
              }
              &[data-type="secret"] {
                  .type-icon {
                      background-image: url('img/technology-icon-secret-white.svg');
                  }
              }
              &[data-type="writing"] {
                  .type-icon {
                      background-image: url('img/technology-icon-writing-white.svg');
                  }
              }
          }
        } 
        

      .level-box {
        bottom: 8px;
        left: 8px;
        padding: 3px 3px 0 0;
        border-radius: 0 7px 0 0;
        background-color: $cardBackground;

        .level-icon {
            width: 20px;
            height: 20px;
            border-radius: 0 5px 0 5px;
            background: var(--card-color);
            background-size: auto 100%;
            background-image: url('img/level-icon.png');

            &[data-level="0"] {
                background-position: 0%;
            }
            &[data-level="1"] {
                background-position: 100%;
            }
        }
      }  

      .name-box {         
        $nameHeight: 16px;
        $nameBoxHeight: 18px;

        top: 8px;
        left: 36px;
        min-width: 55px;
        max-width: 96px;
        height: 14px;

        &::before {
            right: -$nameBoxHeight;
            border-width: $nameBoxHeight $nameBoxHeight 0 0;
        }

        .name {
            height: 16px;
            font-size: 16px;
            line-height: 15px;
    
            &::after {
                right: -$nameHeight;
                border-width: $nameHeight $nameHeight 0 0;
            }
        }
    
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: -$nameHeight;
            width: 0;
            height: 0;
            border-width: $nameHeight $nameHeight 0 0;
            border-color: var(--card-color) transparent transparent transparent;
            border-style: solid;
        }
      }
         

      .center-box {
        left: 64px;
        bottom: 7px;
        width: 23px;
        top: 65px;

        .activation-box {
            height: 23px;
            width: 25px;
            right: 0;
            bottom: 0;
        }

        .line {
            &.left {
                left: 0;
                bottom: 0;
                height: 20px;
            }

            &.right {
                right: 0;
                top: 0;
                bottom: 20px;
                height: unset;
            }

            &.middle {
                left: 0;
                width: unset;
                right: 0;
                bottom: 20px;
            }
        }

        .activation {
            bottom: 0px;
            right: 3px;
            width: 18px;
            height: 18px;

            &::after {
                right: -4px;
                bottom: 3px;
                border-width: 7px 0 7px 3px;
                border-color: transparent transparent transparent var(--card-color);
            }
          }
      }

      .requirement {
        left: 85px;
        right: 8px;
        bottom: 51px;
        top: 15px;
        border-radius: 0 0 5px 0;
        border: 1px solid #b7aca7;
        background: #edeae7;
        
        color: #404040;
        text-align: center;
        font-size: 13px;
        font-family: "quador-display", serif;
        
        .icon {
            width: 16px;
            height: 16px;
        }
      }

      .effect {
        left: 87px;
        right: 5px;
        bottom: 5px;
        top: 62px;
      }

      &[data-requirement="false"] {
        .center-box {
          top: 28px;
        }

        .effect {            
            top: 15px;
        }
      }
    }

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-tile-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }
}

@keyframes selectable-tile-animation {
    0% {
      box-shadow: 0 0 3px 2px white;
    }
    100% { 
      box-shadow: 0 0 5px 3px white;
    }
}
