.technology-tile {
    display: inline-block;
    position: relative;
    width: 163px;
    height: 114px;
    border-radius: 8px;

    .back {
        background-size: auto 100%;
        background-image: url('img/technology-tile-backs.png');  
    }

    @for $level from 1 through 2 {
        &[data-level="#{$level}"] {
            .back {
                background-position-x: #{($level - 1) * 100%};
            }
            .front {
                background-image: url('img/technology-tiles-#{$level}.jpg');    
            }
        }
    }

    .front {
      background-size: auto 300%;

      .name-box {         
        $nameHeight: 16px;
        $nameBoxHeight: 18px;

        top: 5px;
        left: 36px;
        min-width: 55px;
        max-width: 96px;
        height: 14px;

        .name {
            height: 16px;
            font-size: 16px;
            line-height: 15px;
        }
      }

      .requirement {
        left: 85px;
        right: 8px;
        bottom: 51px;
        top: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        color: #404040;
        text-align: center;
        font-size: 13px;
        font-family: "quador-display", serif;
        
        .icon {
            width: 16px;
            height: 16px;
        }
      }

      .effect {
        left: 87px;
        right: 5px;
        bottom: 5px;
        top: 62px;
      }

      &[data-requirement="false"] {
        .center-box {
          top: 28px;
        }

        .effect {            
            top: 28px;
        }
      }
    }

    &[data-level="2"] {
        .front .effect {
            top: unset;
            right: unset;
            left: 92px;
            bottom: 8px;
        }
    }

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-tile-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }
}

@keyframes selectable-tile-animation {
    0% {
      box-shadow: 0 0 3px 2px var(--selectable-card-color);
    }
    100% { 
      box-shadow: 0 0 5px 3px var(--selectable-card-color);
    }
}

.dijitTooltipContents {
    .technology-tile {
        transform: scale(1.5);
        transform-origin: top left;
        margin-bottom: 57px;
        margin-right: 82px;
    }
}