$playerColors: '6f3766', 'bc6328', '597f9e', '929f40';

$artifactColor: #734073;
$cityColor: #d66b2a;
$megalithColor: #4a82a3;
$pyramidColor: #87a04f;

$ancientColor: #3c857f;
$secretColor: #b8a222;
$writingColor: #633c37;

@import '../node_modules/bga-help/bga-help';
@import '../node_modules/bga-zoom/bga-zoom';
@import '../node_modules/bga-jump-to/bga-jump-to';
@import '../node_modules/bga-cards/bga-cards';
@import 'cards';
@import 'builder-cards';
@import 'technology-tiles';
@import 'table-center';
@import 'playerboards';
@import 'past-deck';
@import 'player-table';
@import 'help';
@import 'end-score';

:root {
  --selectable-card-color: lightgreen;
}
.gamestate_resolveChoice {
    --selectable-card-color: gold;
}

@font-face {
  font-family: 'ak';
  src:
    url('img/ak.ttf?vn5p27') format('truetype'),
    url('img/ak.woff?vn5p27') format('woff'),
    url('img/ak.svg?vn5p27#ak') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ak' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-action-archive:before {
  content: "\e900";
  color: #fff;
}
.icon-action-create:before {
  content: "\e901";
  color: #fff;
}
.icon-action-excavate:before {
  content: "\e902";
  color: #fff;
}
.icon-action-learn:before {
  content: "\e903";
  color: #fff;
}
.icon-action-search:before {
  content: "\e904";
  color: #fff;
}
.icon-anytime:before {
  content: "\e905";
}
.icon-artifact:before {
  content: "\e906";
  color: #734073;
}
.icon-cards:before {
  content: "\e908";
}
.icon-decline:before {
  content: "\e909";
}
.icon-discard:before {
  content: "\e90a";
  color: #fff;
}
.icon-immediate:before {
  content: "\e90b";
}
.icon-knowledge:before {
  content: "\e90c";
}
.icon-lock:before {
  content: "\e90e";
  color: #fff;
}
.icon-lost-knowledge:before {
  content: "\e90f";
}
.icon-monument-city:before {
  content: "\e911";
  color: #d66b2a;
}
.icon-monument-megalith:before {
  content: "\e913";
  color: #4a82a3;
}
.icon-monument-pyramid:before {
  content: "\e915";
  color: #87a04f;
}
.icon-starting-space-icon:before {
  content: "\e917";
}
.icon-technology-ancient:before {
  content: "\e919";
  color: #3c857f;
}
.icon-technology-secret:before {
  content: "\e91b";
  color: #b8a222;
}
.icon-technology-writing:before {
  content: "\e91d";
  color: #633c37;
}
.icon-timeline-icon:before {
  content: "\e91f";
}
.icon-vp:before {
  content: "\e920";
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html, .mode_3d #game_play_area_background {
  
  @each $playerColor in $playerColors {
    &[data-bg="#{$playerColor}"] { 
      background: url('img/bg/#{$playerColor}.jpg');
      background-size: 100% auto;
    }
  }
}

#bga-zoom-wrapper {
  padding-top: 32px;
}

#page-title {
  .player-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  
  &.knowledge {
    background-image: url('img/knowledge-icon.svg');
  }
  &.lost-knowledge {
    background-image: url('img/lost-knowledge-icon.svg');

    &.white {
      background-image: url('img/lost-knowledge-icon-white.svg');
    }
  }
  &.vp {
    background-image: url('img/vp-icon.svg');
  }
  &.city {
    background-image: url('img/monument-icon-city.svg');
  }
  &.megalith {
    background-image: url('img/monument-icon-megalith.svg');
  }
  &.pyramid {
    background-image: url('img/monument-icon-pyramid.svg');
  }
  &.artifact {
    background-image: url('img/artifact-icon.svg');
  }
  &.ancient {
    background-image: url('img/technology-icon-ancient.svg');
  }
  &.secret {
      background-image: url('img/technology-icon-secret.svg');
  }
  &.writing {
      background-image: url('img/technology-icon-writing.svg');
  }
  &.starting-space {
    background-image: url('img/starting-space-icon.svg');

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  &.tech-level {
    background-image: url('img/level-icon.png');
    background-size: auto 100%;
    max-width: 20px;
    max-height: 20px;

    &[data-level="1"] {
      background-position-x: 0%;
    }
    &[data-level="2"] {
      background-position-x: 100%;
    }
  }
}

.action-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  
  &.create {
    background-image: url('img/action-create-white.svg');
  }  
  &.learn {
    background-image: url('img/action-learn-white.svg');
  }  
  &.archive {
    background-image: url('img/action-archive-white.svg');
  }
  &.excavate {
    background-image: url('img/action-excavate-white.svg');
  }
  &.search {
    background-image: url('img/action-search-white.svg');
  }
}

.action-button, .log {
  .icon, .color {
    width: 24px;
    height: 24px;
  }
}

.dijitTooltipContents {
  .icon, .color {
    width: 20px;
    height: 20px;
  }
}


#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  margin-right: 10px;

  #tables {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
  }

  &.double-column {
    flex-direction: row;
    justify-content: center;
    align-items: start;

    &>div {
      flex: 1;
    }
  }
}

.artifact-tooltip {
  &>div {
    padding: 5px;

    &:not(:last-child) {
      border-bottom: 1px solid gray;
    }
  }
}

#draw-and-keep-pick {
    background: #FFFFFF66;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 5px;

    &[data-visible="false"] {
        display: none;
    }
}

.knowledge-token {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 38px;
  flex-shrink: 0;
  vertical-align: middle;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: auto 100%;
    background-image: url('img/knowledge-tokens.png');
    background-position-x: 0%;
  }

  &.golden::after {
    background-position-x: 100%;
  }

  &.selectable {
    &:not(.selected) {
      box-shadow: 0 0 5px 5px white;
    }
    cursor: pointer;
    pointer-events: all;
  }

  &.selected {
    box-shadow: 0 0 5px 5px red;
  }
}

#last-round {
    margin: 5px -5px -5px;
    text-align: center;
    background-color: #900;
    color: white;
    text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;

    .last-round-text {
        display: inline-block;

        &.animate {
            animation: last-round-animation 2s 1 forwards ease-in-out;
        }
    }
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% { 
    transform: scale(1);
  }
}

#logs .log.notif_newUndoableStep {
  margin-top: 0;

  .roundedbox {
    background-color: #c4c2c2;
    cursor: pointer;
    // TODO!!! display: none;
    font-size: 12px;
    padding: 2px 5px;
    text-align: center
  }

  &.selectable .roundedbox {
    display: block;
  }
}


#logs .log.notif_newUndoableStep .roundedbox:after,#logs .log.notif_newUndoableStep .roundedbox:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  // TODO!!! display: none !important;
  margin-bottom: -4px;
  padding: 0;

  &.selectable {
    display: block !important; 
    
    .roundedboxinner {
      background-color: #c4c2c2;
      cursor: pointer;
      font-size: 12px;
      padding: 2px 5px;
      text-align: center
    }
  }
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:after,.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner:before {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0 10px;
}

.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
  display: none;
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}